img {
    width : 200px ;
}

body {
    text-align: center;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background : rgb(190, 225, 255);
    color : rgb(255, 102, 0);
}

button {
    background-color: #00c3ff;
    border: none;
    color: rgb(119, 0, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button2 {
    background-color: #ff0d00;
    border: dotted;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: help;
    border-radius: 5px;
}

.dark-mode {
    background-color: #222;
    color: #eee;
}