img {
    width : 200px ;
}

body {
    text-align: center;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background : rgb(138, 13, 255);
    color : rgb(255, 102, 0);
}

body2 {
    text-align: center;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : rgb(60, 255, 0);
}